# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data and outputs
src/database/
augemented_data/
augmented_data/
outputs/
runs/
logs/
checkpoints/

# Models
*.h5
*.hdf5
*.pb
saved_models/

model/